{{ header }}
{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">

            {% if success %}
                {% if success is iterable %}
                    {% for success_message in success %}
                        <div class="alert alert-success">
                            <i class="fa fa-check-circle"></i>
                            {{ success_message }}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-success">
                        <i class="fa fa-check-circle"></i>
                        {{ success }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
            {% endif %}

            {% if error %}
                <div class="alert alert-danger">
                    <i class="fa fa-exclamation-circle"></i>
                    {{ error }}
                </div>
            {% endif %}

            <div class="pull-right">

                <button type="submit" form="form-koin" data-toggle="tooltip"
                        title="{{ button_save }}" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                </button>

                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}"
                   class="btn btn-default">
                    <i class="fa fa-reply"></i>
                </a>
            </div>

            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger">
                <i class="fa fa-exclamation-circle"></i>
                {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-pencil"></i>
                    {{ text_edit }}
                </h3>
            </div>
            <div class="panel-body">

                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-koin" class="form-horizontal">

                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
                        <li><a href="#tab-units" data-toggle="tab">{{ tab_units }}</a></li>
                    </ul>

                    <div class="tab-content">
                        <!-- TAB GENERAL SETTINGS -->
                        <div class="tab-pane active" id="tab-general">
                            <!-- STATUS -->
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-status">
                                    {{ entry_status }}
                                </label>
                                <div class="col-sm-10">
                                    <select name="shipping_mandae_status" id="input-status" class="form-control">
                                        {% if shipping_mandae_status %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>

                            <!-- TOKEN -->
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-token">
                                    <span data-toggle="tooltip" title="{{ help_token }}">
                                        {{ entry_token }}
                                    </span>
                                </label>

                                <div class="col-sm-10">
                                    <input type="text" name="shipping_mandae_token"
                                           value="{{ shipping_mandae_token }}"
                                           placeholder="{{ entry_token }}" id="input-token" class="form-control"/>
                                    {% if error_token %}
                                        <div class="text-danger">{{ error_token }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <!-- METHOD TITLE -->
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-method-title">
                                    <span data-toggle="tooltip" title="{{ help_method_title }}">
                                        {{ entry_method_title }}
                                    </span>
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" name="shipping_mandae_method_title"
                                           value="{{ shipping_mandae_method_title }}"
                                           placeholder="{{ entry_method_title }}"
                                           id="input-method-title" class="form-control"/>
                                </div>
                            </div>

                            <!-- DEADLINE TEXT-->
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-deadline-text">
                                    <span data-toggle="tooltip" title="{{ help_deadline_text }}">
                                        {{ entry_deadline_text }}
                                    </span>
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" name="shipping_mandae_deadline_text"
                                           value="{{ shipping_mandae_deadline_text }}"
                                           placeholder="{{ entry_deadline_text }}"
                                           id="input-deadline-text" class="form-control"/>
                                </div>
                            </div>

                            <!-- TEST OR PRODUCTION -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <span data-toggle="tooltip" title="{{ help_environment }}">
                                        {{ entry_environment }}
                                    </span>
                                </label>
                                <div class="col-sm-10">
                                    <select name="shipping_mandae_environment" id="input-mandae-environment" class="form-control">
                                        <option value="test" {{ shipping_mandae_environment == 'test' ? 'selected="selected"' : '' }}>
                                            {{ entry_test }}
                                        </option>
                                        <option value="production" {{ shipping_mandae_environment == 'production' ? 'selected="selected"' : '' }}>
                                            {{ entry_production }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <!-- DECLARED VALUE -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <span data-toggle="tooltip" title="{{ help_declared_value }}">
                                        {{ entry_declared_value }}
                                    </span>
                                </label>
                                <div class="col-sm-10">
                                    <select name="shipping_mandae_declared_value" id="input-mandae-declared-value" class="form-control">
                                        <option value="0" {{ shipping_mandae_declared_value == '0' ? 'selected="selected"' : null }}>
                                            {{ text_no }}
                                        </option>
                                        <option value="1" {{ shipping_mandae_declared_value == '1' ? 'selected="selected"' : null }}>
                                            {{ text_yes }}
                                        </option>
                                    </select>
                                </div>
                            </div>


                            <!-- HANDLING TIME -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <span data-toggle="tooltip" title="{{ help_handling_time }}">
                                        {{ entry_handling_time }}
                                    </span>
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" name="shipping_mandae_handling_time"
                                           value="{{ shipping_mandae_handling_time }}"
                                           placeholder="{{ entry_handling_time }}"
                                           id="input-handling-time" class="form-control"/>
                                </div>
                            </div>


                            <!-- HANDLING TYPE -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <span data-toggle="tooltip" title="{{ help_handling_type }}">
                                        {{ entry_handling_type }}
                                    </span>
                                </label>
                                <div class="col-sm-10">
                                    <select name="shipping_mandae_handling_type" id="input-mandae-handling-type" class="form-control">
                                        <option value="none" {{ shipping_mandae_handling_type == 'none' ? 'selected="selected"' : '' }}>
                                            {{ text_none }}
                                        </option>
                                        <option value="percent" {{ shipping_mandae_handling_type == 'percent' ? 'selected="selected"' : '' }}>
                                            {{ text_percent }}
                                        </option>
                                        <option value="fixed" {{ shipping_mandae_handling_type == 'fixed' ? 'selected="selected"' : '' }}>
                                            {{ text_fixed }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <!-- HANDLING FEE -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-handling-fee">
                                    <span data-toggle="tooltip" title="{{ help_handling_fee }}">
                                        {{ entry_handling_fee }}
                                    </span>
                                </label>

                                <div class="col-sm-10">
                                    <input type="text" name="shipping_mandae_handling_fee"
                                           value="{{ shipping_mandae_handling_fee }}"
                                           placeholder="{{ entry_handling_fee }}"
                                           id="input-handling-fee"
                                           class="form-control"/>
                                </div>
                            </div>

                            <!-- GEO ZONE -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-geo-zone">
                                    {{ entry_geo_zone }}
                                </label>
                                <div class="col-sm-10">
                                    <select name="shipping_mandae_geo_zone_id" id="input-geo-zone" class="form-control">
                                        <option value="0">{{ text_all_zones }}</option>
                                        {% for geo_zone in geo_zones %}
                                            {% if geo_zone.geo_zone_id == shipping_mandae_geo_zone_id %}
                                                <option value="{{ geo_zone['geo_zone_id'] }}" selected="selected">{{ geo_zone['name'] }}</option>
                                            {% else %}
                                                <option value="{{ geo_zone['geo_zone_id'] }}">{{ geo_zone['name'] }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <!-- GEO ZONE -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-geo-zone">
                                    {{ entry_tax_class }}
                                </label>
                                <div class="col-sm-10">
                                    <select name="shipping_mandae_tax_class_id" id="input-tax-class" class="form-control">
                                        <option value="0">{{ text_none }}</option>
                                        {% for tax_class in tax_classes %}
                                            {% if tax_class.tax_class_id == shipping_mandae_tax_class_id %}
                                                <option value="{{ tax_class['tax_class_id'] }}" selected="selected">{{ tax_class['title'] }}</option>
                                            {% else %}
                                                <option value="{{ tax_class['tax_class_id'] }}">{{ tax_class['title'] }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <!-- ORDER -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-sort-order">
                                    {{ entry_sort_order }}
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" name="shipping_mandae_sort_order"
                                           value="{{ shipping_mandae_sort_order }}"
                                           placeholder="{{ entry_sort_order }}" id="input-sort-order"
                                           class="form-control"/>
                                </div>
                            </div>

                            <!-- LOG -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-logging">
                                    {{ entry_logging }}
                                </label>
                                <div class="col-sm-10">
                                    <select name="shipping_mandae_logging" id="input-logging" class="form-control">
                                        {% if shipping_mandae_logging %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>

                        </div>

                        <!-- TAB CC -->
                        <div class="tab-pane" id="tab-units">

                            <!-- USE DEFAULT DIMENSIONS -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <span data-toggle="tooltip" title="{{ help_use_default_dimensions }}">
                                        {{ entry_use_default_dimensions }}
                                    </span>
                                </label>
                                <div class="col-sm-10">
                                    <select name="shipping_mandae_use_default_dimensions" id="input-mandae-use-default-dimensions" class="form-control">
                                        <option value="0" {{ shipping_mandae_use_default_dimensions == '0' ? 'selected="selected"' : '' }}>
                                            {{ text_no }}
                                        </option>
                                        <option value="1" {{ shipping_mandae_use_default_dimensions == '1' ? 'selected="selected"' : '' }}>
                                            {{ text_yes }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <!-- DEFAULT WIDTH -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <span data-toggle="tooltip" title="{{ help_default_width }}">
                                        {{ entry_default_width }}
                                    </span>
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" name="shipping_mandae_default_width"
                                           value="{{ shipping_mandae_default_width }}"
                                           placeholder="{{ entry_default_width }}" id="input-sort-order"
                                           class="form-control"/>
                                </div>
                            </div>

                            <!-- DEFAULT HEIGHT -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <span data-toggle="tooltip" title="{{ help_default_height }}">
                                        {{ entry_default_height }}
                                    </span>
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" name="shipping_mandae_default_height"
                                           value="{{ shipping_mandae_default_height }}"
                                           placeholder="{{ entry_default_height }}" id="input-sort-order"
                                           class="form-control"/>
                                </div>
                            </div>

                            <!-- DEFAULT LENGTH -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <span data-toggle="tooltip" title="{{ help_default_length }}">
                                        {{ entry_default_length }}
                                    </span>
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" name="shipping_mandae_default_length"
                                           value="{{ shipping_mandae_default_length }}"
                                           placeholder="{{ entry_default_length }}" id="input-sort-order"
                                           class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}